<%= form_with(model: schedule, class: "form-width-avg") do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <h2>Ошибки:</h2>
      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row mb-3 w-50">
    <div class="col">
      <%= form.label :doctor_id, "Врач" %>
      <%= form.select :doctor_id, @doctors.map { |d| [d.name, d.id ] }, class: "form-select" %>
    </div>
  </div>

  <div class="form-group row mb-3 w-50">
    <div class="col">
      <%= form.label :department_id, "Отделение"%>
      <%= form.select :department_id, @departments.map { |dep| [dep.name, dep.id] }, class: "form-select" %>
    </div>
  </div>

  <div class="form-group row mb-3 w-50">
    <div class="col">
      <%= form.label :day_of_week, "День недели" %>
      <%= form.weekday_select :day_of_week, day_format: :ru, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-3" style="width: 25%">
    <div class="col">
      <%= form.label :start_time %>
      <%= form.time_field :start_time, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-3" style="width: 25%">
    <div class="col">
      <%= form.label :end_time %>
      <%= form.time_field :end_time, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <div class="col">
      <%= form.submit "Отправить", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
