<div id="<%= dom_id schedule %>">
  <p>
    <strong>Врач:</strong>
    <%= schedule.doctor_id %>
  </p>

  <p>
    <strong>Отделение:</strong>
    <%= schedule.department_id %>
  </p>

  <p>
    <strong>День недели:</strong>
    <%= schedule.day_of_week %>
  </p>

  <p>
    <strong>Время начала работы:</strong>
    <%= schedule.start_time %>
  </p>

  <p>
    <strong>Время окончания работы:</strong>
    <%= schedule.end_time %>
  </p>

</div>
