<div id="<%= dom_id schedule %>">
  <p>
    <strong>Doctor:</strong>
    <%= schedule.doctor_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= schedule.department_id %>
  </p>

  <p>
    <strong>Day of week:</strong>
    <%= schedule.day_of_week %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= schedule.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= schedule.end_time %>
  </p>

</div>
