<p style="color: green"><%= notice %></p>

<h1>Расписания</h1>
<%= link_to "Создать расписание", new_schedule_path, class: "btn btn-outline-secondary" %>
<%= link_to "Получить отчет (XSLX)", download_schedules_path(format: :zip), class: "btn btn-outline-primary" %>
<hr>
<div id="schedules">
  <% @schedules.each do |schedule| %>
    <h3>Врач: <%= schedule.doctor.name %></h3>
    <%= link_to "Показать", schedule, class: "btn btn-primary" %>
    <hr>
  <% end %>
</div>