<p style="color: green"><%= notice %></p>

<%= render @schedule %>

<div>
  <%= link_to "Редактировать", edit_schedule_path(@schedule), class: "btn btn-primary" %>
  <%= link_to "Назад", schedules_path, class: "btn btn-outline-secondary" %>

  <%= link_to "Удалить", @schedule, data: { "turbo-method": :delete }, class: "btn btn-danger" %>
</div>
