<%= form_with(model: department, class: "form-width-avg") do |form| %>
  <% if department.errors.any? %>
    <div style="color: red">
      <h2>Ошибки:</h2>
      <ul>
        <% department.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row mb-3 w-50">
    <div class="col">
      <%= form.label :name, "Название" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-3 w-50">
    <div class="col">
      <%= form.label :head_doctor_id, "Доктор" %>
      <%= form.select :head_doctor_id, @doctors.map { |d| [d.name, d.id] }, class: "form-select" %>
    </div>
  </div>

  <div class="form-group row mb-3 w-50">
    <div class="col">
      <%= form.label :capacity, "Вместимость" %>
      <%= form.number_field :capacity, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-15">
    <div class="col">
      <%= form.submit "Отправить", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
