<p style="color: green"><%= notice %></p>

<%= render @department %>

<div>
  <%= link_to "Редактировать", edit_department_path(@department), class: "btn btn-primary"%>
  <%= link_to "Назад", departments_path, class: "btn btn-outline-secondary" %>

  <%= link_to "Удалить запись", @department, data: { "turbo-method": :delete }, class: "btn btn-danger" %>
</div>
