<div id="<%= dom_id patient %>">
  <p>
    <strong>Имя:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Возраст:</strong>
    <%= patient.age %>
  </p>

  <p>
    <strong>Пол:</strong>
    <%= patient.gender %>
  </p>

  <p>
    <strong>Адрес:</strong>
    <%= patient.address %>
  </p>

  <p>
    <strong>Мобильный телефон:</strong>
    <%= patient.phone %>
  </p>

</div>
