<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= doctor.specialization %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= doctor.experience %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= doctor.phone %>
  </p>

</div>
