<div id="<%= dom_id doctor %>">
  <p>
    <strong>Имя:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Специализация:</strong>
    <%= doctor.specialization %>
  </p>

  <p>
    <strong>Опыт работы:</strong>
    <%= doctor.experience %>
  </p>

  <p>
    <strong>Мобильный телефон:</strong>
    <%= doctor.phone %>
  </p>

</div>
