<%= form_with(model: doctor, class: "form-width-avg") do |form| %>
  <% if doctor.errors.any? %>
    <div style="color: red">
      <h2>Ошибки:</h2>
      <ul>
        <% doctor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row mb-3 w-50">
    <div class="col">
      <%= form.label :name, "Имя" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-3 w-50">
    <div class="col">
      <%= form.label :specialization, "Специализация" %>
      <%= form.text_field :specialization, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-3 w-50">
    <div class="col">
      <%= form.label :experience, "Опыт работы" %>
      <%= form.text_field :experience, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-3 w-50">
    <div class="col">
      <%= form.label :phone, "Мобильный телефон" %>
      <%= form.text_field :phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-15">
    <div class="col">
      <%= form.submit "Отправить", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
