<p style="color: green"><%= notice %></p>

<%= render @doctor %>

<div>
  <%= link_to "Редактировать", edit_doctor_path(@doctor), class: "btn btn-primary" %>
  <%= link_to "Назад", doctors_path, class: "btn btn-outline-secondary" %>

  <%= link_to "Удалить", @doctor, data: { "turbo-method": :delete }, class: "btn btn-danger" %>
</div>
