<div id="<%= dom_id appointment %>">
  <p>
    <strong>Пациент:</strong>
    <%= appointment.patient.name %>
  </p>

  <p>
    <strong>Врач:</strong>
    <%= appointment.doctor_id %>
  </p>

  <p>
    <strong>Отделение:</strong>
    <%= appointment.department.name %>
  </p>

  <p>
    <strong>Дата приема:</strong>
    <%= appointment.appointment_date %>
  </p>

</div>
