<p style="color: green"><%= notice %></p>

<h1>Приемы</h1>
<%= link_to "Создать прием", new_appointment_path, class: "btn btn-outline-secondary" %>
<hr>
<div id="appointments">
  <% @appointments.each do |appointment| %>
    <h3>Прием №<%= appointment.id %> от <%= appointment.appointment_date %></h3>
    <p>
      <%= link_to "Показать", appointment, class: "btn btn-primary" %>
    </p>
    <hr>
  <% end %>
</div>