<p style="color: green"><%= notice %></p>

<%= render @appointment %>

<%= link_to "Редактировать", edit_appointment_path(@appointment), class: "btn btn-primary" %>
<%= link_to "Назад", appointments_path, class: "btn btn-outline-secondary" %>
<%= link_to "Удалить", @appointment, data: { "turbo-method": :delete }, class: "btn btn-danger" %>